/*! CoverflowJS - v3.0.2 - 2015-12-31
* Copyright (c) 2015 Paul Baukus, Addy Osmani, Sebastian Sauer, Brandon Belvin, April Barrett, Kirill Kostko; Licensed MIT */
.ui-coverflow-wrapper{position:relative;z-index:1;overflow:hidden}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:" ";display:table}.ui-helper-clearfix:after{clear:both}.ui-coverflow{-webkit-perspective:500px;perspective:500px;position:absolute;z-index:2}.ui-coverflow,.ui-coverflow *{-ms-touch-action:pan-y!important}.ui-coverflow .ui-coverflow-item{position:relative;cursor:pointer;float:left;display:block}.ui-coverflow .ui-coverflow-item:focus{outline:0}.ui-coverflow img{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-user-drag:none;-moz-user-drag:none;-ms-user-drag:none;user-drag:none;border:0 none}